<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<base href={import.meta.env.BASE_URL} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="color-scheme" content="dark">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

		<title>Pixlies Offline Timer</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	p {
		margin-bottom: 0;
	}
</style>